<!-- Engine picture LEFT) -->
<div class="col-11" style="margin-left:5%">
<img src="/Engine.jpg"Engine" style="width:700px; height:400px">

<!-- Blog Container RIGHT) -->
<div id="blogcontainer" class="shadow">
   <h3>Blog container</h3>
   
      <p>Lorem ipsum dolor sit amet, nisl nisl integer. 
      Pede elit, augue odio, in pellentesque pulvinar.
      Feugiat vel, vitae massa sed. Donec in, facilisis 
      luctus habitasse, rhoncus curabitur. Volutpat gravida,
      porttitor tellus. Praesent purus felis.
      </p>
      
      <p>Lorem ipsum dolor sit amet, nisl nisl integer. 
      Pede elit, augue odio, in pellentesque pulvinar.
      Feugiat vel, vitae massa sed. Donec in, facilisis 
      luctus habitasse, rhoncus curabitur. Volutpat gravida,
      porttitor tellus. Praesent purus felis.
      </p>
      
      <p>Lorem ipsum dolor sit amet, nisl nisl integer. 
      Pede elit, augue odio, in pellentesque pulvinar.
      Feugiat vel, vitae massa sed. Donec in, facilisis 
      luctus habitasse, rhoncus curabitur. Volutpat gravida,
      porttitor tellus. Praesent purus felis.
      </p>
      
      <p>Lorem ipsum dolor sit amet, nisl nisl integer. 
      Pede elit, augue odio, in pellentesque pulvinar.
      Feugiat vel, vitae massa sed. Donec in, facilisis 
      luctus habitasse, rhoncus curabitur. Volutpat gravida,
      porttitor tellus. Praesent purus felis.
      </p>

<!-- Three containers below Engine pic LEFT) -->
</div><br><br>
<div class="col-2" class="shadow" style="background-color:#fefdfb;padding:10px 10px 10px 10px; ; margin-left:4%">
   <h3>Parts Sale!</h3>
      <p id="smalltext">
      Lorem ipsum dolor sit amet
      <p>
      </div>
<div class="col-2"  class="shadow"  style="background-color:#fefdfb; padding:10px 10px 10px 10px; margin-left:5%">
      <h3>Return Policy</h3>
      <p id="smalltext">
      Lorem ipsum dolor sit amet
      <p>
</div>
</div>
</div>
