/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* CSS Document */


.navLinks {
	font-size:20px;
	color:#FFFFFF !important;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:45px;
	padding-right:45px;
	text-decoration:none;	
	list-style-type: none;
	display:inline-block;
}
.navbar {
	position:relative;
	margin-left: -10px;
	margin-right: -10px;
	background-color:#17130F;
	text-align:center;
	padding-top: 10px;
	padding-bottom: 10px;
	white-space:nowrap;
	margin-bottom: 25px;

}


img {
	max-width: 50%;
	height: auto;
}
/*section added to make product table responsive */

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr 
	{ 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 100%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	.header {
		max-width:auto;
		height:auto;
		text-align:center;
	}
	
	#blog{
		display:none;
	}
	
	#news{
		position: absolute;
		margin-top: 305px;
	}
	
	#carousel-example-generic{
		width: auto !important;
	}


}



#sameLine{
	display:block;
	float:left;
   margin: 0px;
   padding-right: 20px;
	}
